extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1 Media player

  section
    .container

      .video-wrap#videotarget(data-media-id='videotarget', data-media-source='https://uniukp-vh.akamaihd.net/i/ukp/vod/e3134e93-19c3-42cd-ba8f-bfb672e11bf0/1_x2fpmsya/e3134e93-19c3-42cd-ba8f-bfb672e11bf0_01_,25,80,120,0.mp4.csmil/master.m3u8?start=1126', data-media-thumbnail='https://videoplayback.parliamentlive.tv/Content/img/planning.jpg', data-media-start='10', data-media-end='20')
